ENVIRONMENT=development

DOCKERHUB_USERNAME=your_dockerhub_username
DOCKERHUB_TOKEN=your_dockerhub_token

POSTGRES_USER=your_postgres_user
POSTGRES_PASSWORD=your_postgres_password
POSTGRES_DB=chess_teacher_db
POSTGRES_HOST=db
POSTGRES_PORT=5432

RAW_DIR=/app/storage/raw

APP_PORT=8501
